* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.23s;
}

:root {
    --primary-color: #2a9d8f;
    --secondary-color: #264653;
    --third-color: #e6ca84;
}

body {
    z-index: 9999;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--third-color);
}

.flex-row {
    display: flex;
}

.text-areas {
    margin: 0 15px;
}

.title {
    font-size: 36px;
    float: left;
    color: var(--secondary-color);
    margin: 0 15px;
}

.body-section {
    border-left: 2.5px solid var(--secondary-color);
}
/* Header Styling Begin */
header {
    background-color: var(--primary-color);
    z-index: 9998;
    padding: 10px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header h1 {
    font-size: 1.6vw;
    color: var(--secondary-color);
    margin: 8px 0;
}

header nav {
    margin: 8px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.3vw;
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: white;
}

header nav ul li a:hover, header h1 a:hover {
    color: var(--third-color);
    border-radius: 15px;
}
/* Header Styling End */

/* Background Image Section Start */ 
.picture-area-one {
    z-index: 9990;
    background-image: url("../images/fuji-mountain-in-autumn-822273028-5a6a8a9c3418c600363958d3.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    margin: 0;
    position: relative;
}

.quote {
    color: white;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 25px 5px 0;
}
/* Background Image Section End */

/* About Me Section Start */
.about-section {
    z-index: 9995;
    margin: 50px auto;
    padding: 0 20px;
    line-height: 1.5;
    width: 85%;
    font-size: 17px;
}
/* About Me Section End */

/* Projects Section Start */
.projects-section {
    z-index: 9996;
    margin: 50px auto;
    line-height: 1.5;
    padding: 0 53px;
    width: 85%;
}

.projects-container {
    align-items: flex-end;
    position: relative;
    margin: 0 10px;
    opacity: 1;
}

.box-1 {
    color: white;
}

.box-1:hover, .box-2:hover {
    opacity: 0.8;
}

.image {
    margin: 0 10px;
    border-radius: 18px;
    border: 2px solid var(--secondary-color);
}

.image-text {
    background-color: var(--primary-color);
    width: fit-content;
    border-radius: 5px;
}

.text-1 {
    position: absolute;
    margin: 25px 12px;
}

.text-2 {
    position: absolute;
    margin: 20px;
    left: 52.7%;
}
/* Projects Section End */

/* Contact Info Section Start */
.contact-section {
    z-index: 9997;
    margin: 100px auto;
    line-height: 1.5;
    padding: 0 57px;
    width: 85%;
    justify-content: center;
}

.contact-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.text-areas li a {
    font-size: 1.3vw;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--secondary-color);
    border-bottom: 2px solid white;
}

.text-areas {
    text-align: 1.5;
    margin: 15px 30px;
}
/* Footer Styling Begin */
footer {
    z-index: 9992;
    margin: auto;
    background-color: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer h2 {
    text-align: center;
    font-size: 32px;
}
/* Footer Styling End */

/* Media Query - Adjustments Start */
@media screen and (max-width: 980px) {
    header {
        position: relative;
        padding-bottom: 0;
        justify-content: center;
        width: 100%;
    }

    header h1 {
        width: 100%;
        text-align: center;
        font-size: 16px;
    }

    header nav ul li a {
        font-size: 18px;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
        font-size: 22px;
        bottom: 0;
    }

    .about-section {
        text-align: center;
        justify-content: center;
        margin: 20px;
    }

    .about-section h4 {
        float: inline;
        margin-left: 27px;
    }
    
    .body-section {
        border: none;
        display: inline-block;
    }
    
    .projects-section {
        width: 100%;
    }

    .projects-section h4 {
        float: left;
        left: 10px;
    }

    .projects-container {
        display: inline; 
        margin: 10px;   
    }

    .text-1 {
        position: relative;
        margin: 18px;
    }

    .text-2 {
        position: relative;
        left: 0;
    }

    .image {
        flex: 1 40%;
    }

    .image-text {
        background-color: var(--third-color);
        width: fit-content;
    }

    .contact-section h4 {
        display: none;
    }

    .contact-list {
        position: absolute;
        width: 100%;
    }

    .contact-section {
        margin: 0 auto;
        float: left;
        display: flex;
        width: 100%;
    }

    .contact-section ul {
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        justify-content: space-evenly;
        align-items: center;
    }

    .contact-section ul li a {
        font-size: 1.5vw;
    }
}