* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: hsl(164, 95%, 43%);
    --secondary-color: hsl(197, 37%, 24%);
}

body {
    z-index: 9999;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: calc(16px + .4vw);
    background-color: rgb(255, 232, 208);
}

hr {
    width: 50%;
    color: whitesmoke;
    margin: auto
}

/* Animations */
.shape {
    display: block;
    position: relative;
    fill: #6b32d4;
    margin: auto;
}
  
.shape1 {
    animation: rotate 1500ms infinite;
}

@keyframes upS {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-10px); }
}
 
@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
@keyframes rotateScale {
    0% { transform: scaleY(0.2) rotate(0deg); }
    100% {  transform: scaleY(0.2) rotate(360deg); }
}

@keyframes heart {
    0% { transform: scale(1); }
    25% { transform: scale(1.1); }
    40% { transform: scale(1); }
    60% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

/* Header & Nav Section */
.nav-bar {
    background-color: var(--primary-color);
    padding: calc(20px + .8vw);
}

.nav-container ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    transform: translateY(-800px);
}

.nav-container a {
    font-size: calc(20px + 0.8vw);
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 1em;
    position: relative;
    text-decoration: none;
    transition: all .4s ease-out;
}

.nav-container a::after {
    border-radius: 1em;
    border-top: 1px solid var(--secondary-color);
    content: "";
    position: absolute;
    right: 100%;
    bottom: 1em;
    left: 0;
    transition: right 1.6s cubic-bezier(0,.5,0,1);
}

.nav-container a:hover {
    color: white;
}

.nav-container a:hover::after {
    right: 0;
}

.name {
    text-align: center;
    transform: translateZ(0);
    position: relative;
    font-weight: 900;
    pointer-events: none;
    font-size: calc(20px + 2.6vw);
}

.name .text-wrapper {
    transform: translateZ(0);
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.name .letters {
    opacity: 0;
    transform: translateZ(0);
    display: inline-block;
}
/* Header & Nav Section End */

/* About Body Section */ 
.section-wrapper {
    margin: 2% 20%;
    opacity: 0;
}

.text-container {
    padding: 5%;
    border-radius: 5px;
    border-width: 1px;
    max-height: 770px;
    overflow: auto;
    background-color: hsl(217, 60%, 80%);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
    color: hsl(200, 5%, 13%);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.section-head {
    font-size: calc(20px + 3vw);
    font-weight: 800;
    letter-spacing: -0.02em;
    position: relative;
    line-height: .7em;
    margin-left: .5%;
    pointer-events: none;
}

.text-container:hover {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.025, 1.025);
}

/* Project Body Section */
.proj-container {
    max-width: 100%;
    border-radius: 5px;
    border-width: 1px;
    background-color: hsl(0, 72%, 59%);
    overflow: hidden;
    display: flex;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
    color: hsl(200, 5%, 13%);
    flex-flow: row wrap;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.proj-item-L {
    flex: 1 100%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    display: flex;
    text-align: center;
    text-decoration: none;
}

.Project {
    position: relative;
    overflow: hidden;
}

.Project .img-overlay {
    background: rgba(12, 12, 12, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    border-radius: 8px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.Project:hover .img-overlay {
    opacity: 1;
}

.img-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    margin: 2%;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    color: white;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.Project:hover .img-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.proj-item {
    flex: 1 50%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    display: flex;
    text-align: center;
    text-decoration: none;
}

.imgC {
    width: 100%;
    border-radius: 8px;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
    transition: all 0.2s ease-in;
}

.imgC:hover {
    transform: scale(1.5);
}

.img-title {
    position: relative;
    text-align: center;

}

/* To The Top Button */
.blob {
    position: fixed;
    bottom: 2%;
    right: 0;
    display: inline-flex;
    margin-right: 2%;
    outline: none;
    transition: all 1s ease-in-out;
}

.up-arw {
    animation: upS 2s infinite alternate;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
}

.up-arw path:hover {
    fill: rgb(155, 118, 202);
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 1));
}

/* Contact Section */
.cntc-container {
    max-width: 100%;
    border-radius: 5px;
    border-width: 1px;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    background-color: hsla(152, 75%, 54%, 0.726);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
    color: hsl(200, 5%, 13%);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cntc-area {
    flex: 1 50%;
    padding: 1%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.cntc-area-S {
    flex: 1 50%;
    padding: 1%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    display: flex;
}

.hd-3 {
    margin-top: 12%;
}

.txt-a-e {
    font-size: calc(16px + 1vw);
    
}

.txt-a-e:hover {
    font-size: calc(16px + 1.256vw);
}

.txt-a-i {
    font-size: calc(16px + 1.63vw);
}

.txt-a-i:hover {
    font-size: calc(16px + 1.8vw);
}

.txt-a-i:hover:active, .txt-a-e:hover:active {
    font-size: calc(16px + 2vw);
    color: purple;
}

.cntc-area a, .cntc-area p, .cntc-area-S p {
    text-decoration: none;
    outline: none;
    color: black;
}

.cntc-t {
    pointer-events: none;
}

/* Footer Text */
.foot-txt {
    text-align: center;
    transform: translateZ(0);
    position: relative;
    pointer-events: none;
    margin-bottom: 2%;
}

.foot-txt .txtf-wrap {
    position: relative;
    display: inline-block;
}

.foot-txt .f-ltrs {
    display: inline-block;
}

.fa-heart {
    animation: heart 3s infinite;
}

/* Media Query Start */
@media screen and (max-width: 1356px) {
    body {
        font-size: calc(16px + .3vw);
    }

    .text-wrapper {
        font-size: calc(20px + 1.2vw);
    }

    .nav-bar {
        padding: calc(20px + .2vw);
    }

    .section-wrapper {
        margin: 2% 10%;
    }

    .text-container {
        max-height: 500px;
    }

    .section-head {
        font-size: calc(20px + 2.2vw);
    }

    .proj-item-L, .proj-item {
        flex: 1 100%;
        padding: 10px;
    }

    .Project .img-overlay {
        background: rgba(12, 12, 12, 0.68);
        opacity: 1;
    }

    .img-details {
        opacity: 1;
    }

    .blob {
        margin-right: 0;
    }
} 